<article class="md-post md-post--excerpt osi-update-row{% if post.meta and post.meta.external_url %} md-post--external{% endif %}">
  <div class="osi-update-row__header">
    <span class="osi-update-row__date">
      <time datetime="{{ post.config.date.created }}">
        {{- post.config.date.created | date -}}
      </time>
    </span>
    <span class="osi-update-row__sep">|</span>
    <span class="osi-update-row__title">
      {% if post.meta and post.meta.external_url %}
        <a href="{{ post.meta.external_url }}" target="_blank" rel="noopener">
          {{ post.title }}
          {% include "partials/external-link-icon.html" %}
        </a>
      {% else %}
        <a href="{{ post.url | url }}">{{ post.title }}</a>
      {% endif %}
    </span>
  </div>
  {% if post.meta and post.meta.description %}
    <p class="osi-update-row__summary">{{ post.meta.description }}</p>
  {% endif %}
</article>
